<h1> Edit <%= question_header(@test) %> question </h1>

<%= render 'form' %>

<p> <%= link_to 'Index',  test_questions_path(@test) %> </p>
<p> <%= link_to 'New',    new_test_question_path %> </p>
<p> <%= link_to 'Show',   test_question_path(@test, @question) %> </p>