<h1> <%= question_header(@test) %> </h1>

<%= render 'form' %>

<p> <%= link_to 'Index',  test_path(@test) %> </p>
<p> <%= link_to 'New',    new_test_question_path(@test) %> </p>
<p> <%= link_to 'Show',   question_path(@question) %> </p>