<nav class="navbar navbar-dark bg-dark">

  <%= link_to 'TestGuru', admin_tests_path, class: "navbar-brand" %>

  <span class="text-center text-white">
    <b><%= t('.header') %></b>
  </span>

  <div class="text-right">
    <span class="text-white">
      <%= t('.greeting') %>, <b><%= current_user.email %></b> Guru 
    </span>
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
  </div>
  
</nav>