<h1> <%= t('.header') %> </h1>

<p>
  <%= link_to t('.new_link'), new_admin_test_path %> 
</p>

<%= render 'shared/errors', resource: @test %>

<table class="table">

  <tr>
    <td class="sort-by-title pointer"> 
      <%= t('.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>  
    </td>
    <td> <%= t('.level') %> </td>
    <td> <%= t('.questions') %> </td>
    <td colspan="4"> <%= t('.actions') %> </td>
  </tr>

  <%= render @tests %>

</table>
