<h1> Test <%= @test.id %> </h1>

  <p> <strong> Title: </strong> <%= @test.title %> <p>
  <p> <strong> Level: </strong> <%= @test.level %> <p>

  <p> <strong> Questions: </strong> <p>

  <%= render 'admin/questions/question' %>

<p> <%= link_to 'Index', admin_tests_path %> </p>
<p> <%= link_to 'New',   new_admin_test_path %> </p>
<p> <%= link_to 'Edit',  edit_admin_test_path(@test) %> </p>
