<div class="row mt-2">

  <div class="col-md-12 text-center">
    <h1> <%= t('.header') %> </h1>
  </div>

  <table class="table mt-3">

    <thead class="thead-dark">

      <tr class="text-center">
        <th scope="col" class="sort-by-title"> 
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>   
        </th>
        <th scope="col"> <%= t('.level') %> </th>
        <th scope="col"> <%= t('.questions') %> </th>
        <th scope="col"> <%= t('.actions') %> </th>
      </tr>
      
     </thead>

    <%= render @tests %>

  </table>

</div>