<h1> <%= t('.header') %> </h1>

<table>

  <tr>
    <td> <%= t('.title') %> </td>
    <td> <%= t('.level') %> </td>
    <td> <%= t('.questions') %> </td>
    <td> <%= t('.actions') %> </td>
  </tr>

  <%= render @tests %>

</table>
