<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/logged_nav' %>
    <% else %>
      <%= render 'shared/general_nav' %>
    <% end %>

    <%= yield %><br>

    <%= render 'shared/footer' %>    
  </body>
</html>
